<?xml version="1.0"?>
<model>
  <name>thaqib_1_prototype</name>
  <version>1.0</version>
  <sdf version='1.6'>thaqib_1_prototype.sdf</sdf>

  <author>
   <name>Mahmoud Abutaqiya and Khalil Al Handawi</name>
   <email>m.abutaqiya@droneleaf.io</email>
  </author>

  <description>
    This is a model of the thaqid_-1 Droneleaf drone. The original model has been created by
    Mahmoud Abutaqiya. 
  </description>
</model>
